annotated-types==0.6.0
anyio==4.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.1.0
audioread==3.0.1
Babel==2.13.1
beautifulsoup4==4.12.2
bleach==6.1.0
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro-info==1.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.9.0
fonttools==4.46.0
fqdn==1.5.1
fsspec==2023.4.0
httplib2==0.18.1
idna==2.10
importlib-metadata==7.0.0
importlib-resources==6.1.1
inflect==5.3.0
ipykernel==6.27.1
ipython==8.18.1
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-client==8.6.0
jupyter-console==6.6.3
jupyter-core==5.5.0
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter-server==2.11.1
jupyter-server-terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
lazy-loader==0.3
librosa==0.8.1
llvmlite==0.39.1
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==3.0.2
mpmath==1.3.0
msgpack==1.0.7
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.0
notebook==7.0.6
notebook-shim==0.2.3
numba==0.56.4
numpy
overrides==7.4.0
packaging==23.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.9.0
Pillow==8.4.0
platformdirs==4.0.0
pooch==1.8.0
prometheus-client==0.19.0
prompt-toolkit==3.0.41
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.5.2
pydantic-core==2.14.5
pygments==2.17.2
pynndescent==0.5.11
pyparsing==3.1.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySimpleSOAP==1.16.2
python-dateutil==2.8.2
python-debian==0.1.39
python-debianbts==3.1.0
python-json-logger==2.0.7
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.31.1
requests==2.31.0
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.13.2
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==2.5
soxr==0.3.7
stack-data==0.6.3
sympy==1.12
terminado==0.18.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
torch
torchaudio
torchfile
torchvision
tornado==6.4
tqdm==4.62.3
traitlets==5.14.0
tslearn==0.6.2
types-python-dateutil==2.8.19.14
typing-extensions==4.7.1
umap-learn==0.5.2
Unidecode==1.3.2
uri-template==1.3.0
urllib3==1.26.7
visdom==0.1.8.9
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.7.0
widgetsnbextension==4.0.9
zipp==3.17.0
